<div class="navbar navbar-inverse">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="/">News Review</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="#">Saved Articles</a>
                </li>
            </ul>
            <button type="submit" class="btn btn-danger scrape-btn" id="scrape-btn">SCRAPE NEW ARTICLES!</button>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</div>
<div class="bg">
    <div class="hero-text">
        <h1 style="font-size: 100px;">News Review</h1>
    </div>
</div>
<br>
<section>
        {{#if articles}}
        {{#each articles}}
        <div class="container" id="news-div">
        <div>
            <br>
            <div class="row">
                <h3>{{this.title}}</h3>
                <h5>{{this.link}}</h5>
            </div>
        </div>
        </div>
        {{/each}}
        {{/if}}
        {{#unless articles}}
        <div>
            <div class="well text-center">
                <h2>uh oh.. Looks like we don't have any new articles</h2>
                </div>
        </div>
        {{/unless}}
</section>